/* CSS reset */
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html { font-size: 62.5%; }

body {
  box-sizing: border-box;
  position: relative;
  font-family: 'SolaimanLipi', Arial, sans-serif !important;
}

.headertitle {
	font-size: 30px;
	text-align: center;
	padding: 20px;
	color: white;
}

/* Main heading for card's front cover */
.card-front__heading {
  font-size: 1.5rem;
  margin-top: .25rem;
}

/* Main heading for inside page */
.inside-page__heading { 
  padding-bottom: 1rem; 
  width: 100%;
}

/* For both inside page's main heading and 'view me' text on card front cover */
.inside-page__heading,
.card-front__text-view {
  font-size: 1.3rem;
  font-weight: 800;
  margin-top: .2rem;
}

.inside-page__heading--city,
.card-front__text-view--city { color: #ff0080; }

.inside-page__heading--ski,
.card-front__text-view--ski { color: #00a0ee; }

.inside-page__heading--beach,
.card-front__text-view--beach { color: #e16c55; }

.inside-page__heading--camping,
.card-front__text-view--camping { color: #00d283; }

.inside-page__heading--jahidcse1,
.card-front__text-view--jahidcse1 { color: #757505; }

.inside-page__heading--jahidcse2,
.card-front__text-view--jahidcse2 { color: #ff0000; }

.inside-page__heading--jahidcse3,
.card-front__text-view--jahidcse3 { color: #5C07FF; }

.inside-page__heading--jahidcse4,
.card-front__text-view--jahidcse4 { color: #590559; }

.inside-page__heading--jahidcse5,
.card-front__text-view--jahidcse5 { color: #a21004; }

.inside-page__heading--jahidcse6,
.card-front__text-view--jahidcse6 { color: #000000; }

.inside-page__heading--jahidcse7,
.card-front__text-view--jahidcse7 { color: #1D6D8C; }

.inside-page__heading--jahidcse8,
.card-front__text-view--jahidcse8 { color: #8c7bff; }

.inside-page__heading--jahidcse9,
.card-front__text-view--jahidcse9 { color: #182384; }

.inside-page__heading--jahidcse10,
.card-front__text-view--jahidcse10 { color: #c89363; }

.inside-page__heading--jahidcse11,
.card-front__text-view--jahidcse11 { color: #c97da4; }

.inside-page__heading--jahidcse12,
.card-front__text-view--jahidcse12 { color: #727a99; }

.inside-page__heading--jahidcse13,
.card-front__text-view--jahidcse13 { color: #1ac41a; }

.inside-page__heading--jahidcse14,
.card-front__text-view--jahidcse14 { color: #2f90a1; }

.inside-page__heading--jahidcse15,
.card-front__text-view--jahidcse15 { color: #861179; }
/* Front cover */

.card-front__tp { color: #fafbfa; }

/* For pricing text on card front cover */
.card-front__text-price {
  font-size: 1.2rem;
  margin-top: -.2rem;
}

/* Back cover */

/* For inside page's body text */
.inside-page__text {
  color: #333;
}

/* Icons ===========================================*/

.card-front__icon {
  fill: #fafbfa;
  font-size: 3vw;
  height: 3.25rem;
  margin-top: -.5rem;
  width: 3.25rem;
}

/* Buttons =================================================*/

.inside-page__btn {
  background-color: transparent;
  border: 3px solid;
  border-radius: .5rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
  overflow: hidden;
  padding: .7rem .75rem;
  position: relative;
  text-decoration: none;
  transition: all .3s ease;
  width: 90%;
  z-index: 10;
}

.inside-page__btn::before { 
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleY(0);
  transition: all .3s ease;
  width: 100%;
  z-index: -1;
}
.inside-page__btn--city { 
  border-color: #ff0082;
  color: #ff0082;
}
.inside-page__btn--city::before { 
  background-color: #ff0080;
}
.inside-page__btn--ski { 
  border-color: #00a0ee;
  color: #00a0ee;
}
.inside-page__btn--ski::before { 
  background-color: #00a0ee;
}
.inside-page__btn--beach { 
  border-color: #e16c55;
  color: #e16c55;
}
.inside-page__btn--beach::before { 
  background-color: #e16c55;
}
.inside-page__btn--camping { 
  border-color: #00d283;
  color: #00d283;
}
.inside-page__btn--camping::before { 
  background-color: #00d283;
}
.inside-page__btn--jahidcse1 { 
  border-color: #757505;
  color: #757505;
}
.inside-page__btn--jahidcse1::before { 
  background-color: #757505;
}
.inside-page__btn--jahidcse2 { 
  border-color: #ff0000;
  color: #ff0000;
}
.inside-page__btn--jahidcse2::before { 
  background-color: #ff0000;
}
.inside-page__btn--jahidcse3 { 
  border-color: #5C07FF;
  color: #5C07FF;
}
.inside-page__btn--jahidcse3::before { 
  background-color: #5C07FF;
}
.inside-page__btn--jahidcse4 { 
  border-color: #590559;
  color: #590559;
}
.inside-page__btn--jahidcse4::before { 
  background-color: #590559;
}
.inside-page__btn--jahidcse5 { 
  border-color: #a21004;
  color: #a21004;
}
.inside-page__btn--jahidcse5::before { 
  background-color: #a21004;
}
.inside-page__btn--jahidcse6 { 
  border-color: #000000;
  color: #000000;
}
.inside-page__btn--jahidcse6::before { 
  background-color: #000000;
}
.inside-page__btn--jahidcse7 { 
  border-color: #1D6D8C;
  color: #1D6D8C;
}
.inside-page__btn--jahidcse7::before { 
  background-color: #1D6D8C;
}
.inside-page__btn--jahidcse8 { 
  border-color: #9375ff;
  color: #9375ff;
}
.inside-page__btn--jahidcse8::before { 
  background: -webkit-linear-gradient(120deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
}
.inside-page__btn--jahidcse9 { 
  border-color: #192b7c;
  color: #192b7c;
}
.inside-page__btn--jahidcse9::before { 
  background: linear-gradient( to bottom, #25a800, #1500a8);
}
.inside-page__btn--jahidcse10 { 
  border-color: #c89363;
  color: #c89363;
}
.inside-page__btn--jahidcse10::before { 
  background: -webkit-linear-gradient(160deg, hsla(92, 85%, 68%, 1) 0%, hsla(338, 98%, 49%, 1) 100%);
}
.inside-page__btn--jahidcse11 { 
  border-color: #c97da4;
  color: #c97da4;
}
.inside-page__btn--jahidcse11::before { 
  background: -webkit-linear-gradient(160deg, hsla(179, 83%, 64%, 1) 0%, hsla(338, 75%, 64%, 1) 50%, hsla(14, 92%, 86%, 1) 100%);
}
.inside-page__btn--jahidcse12 { 
  border-color: #727a99;
  color: #727a99;
}
.inside-page__btn--jahidcse12::before { 
  background: -webkit-linear-gradient(120deg, hsla(189, 92%, 69%, 1) 0%, hsla(335, 89%, 66%, 1) 50%, hsla(240, 63%, 57%, 1) 100%);
}
.inside-page__btn--jahidcse13 { 
  border-color: #1ac41a;
  color: #1ac41a;
}
.inside-page__btn--jahidcse13::before { 
  background: -webkit-linear-gradient(120deg, hsla(55, 90%, 67%, 1) 0%, hsla(173, 87%, 59%, 1) 50%, hsla(327, 89%, 71%, 1) 100%);
}.inside-page__btn--jahidcse14 { 
  border-color: #2f90a1;
  color: #2f90a1;
}
.inside-page__btn--jahidcse14::before { 
  background: -webkit-linear-gradient(140deg, rgba(252,49,96,1) 0%, rgba(12,223,63,1) 42%, rgba(81,67,255,1) 100%);
}
.inside-page__btn--jahidcse15 { 
  border-color: #861179;
  color: #861179;
}
.inside-page__btn--jahidcse15::before { 
  background: -webkit-linear-gradient(120deg, rgba(254,241,12,1) 0%, rgba(223,12,110,1) 45%, rgba(67,123,255,1) 100%);
}
.inside-page__btn:hover { 
  color: #fafbfa;
}
.inside-page__btn:hover::before { 
  transform: scaleY(1);
}

/* Layout Structure=========================================*/

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 28vh;
  width: 65%;
  /*! padding: 0px; */
  float: left;
}

/* Container to hold all cards in one place */
.card-area {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-evenly;
  padding: 1rem;
}

/* Card ============================================*/

/* Area to hold an individual card */
.card-section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

/* A container to hold the flip card and the inside page */
.card {
  background-color: rgba(0,0,0, .05);
  box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
  height: 15rem;
  position: relative;
  transition: all 1s ease;
  width: 15rem;
}

/* Flip card - covering both the front and inside front page */

/* An outer container to hold the flip card. This excludes the inside page */
.flip-card {
  height: 15rem;
  perspective: 100rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  visibility: hidden;
  width: 15rem;
  z-index: 100;
}

/* The outer container's visibility is set to hidden. This is to make everything within the container NOT set to hidden  */
/* This is done so content in the inside page can be selected */
.flip-card > * {
  visibility: visible;
}

/* An inner container to hold the flip card. This excludes the inside page */
.flip-card__container {
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
  width: 100%;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0px;
  width: 100%;
}

/* Styling for the front side of the flip card */

/* container for the front side */
.card-front {
  background-color: #fafbfa;
  height: 15rem;
  width: 15rem;
  box-shadow: 5px 5px #0000004a;
}

/* Front side's top section */
.card-front__tp {
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  padding: .75rem;
}

.card-front__tp--city {
  background: linear-gradient( to bottom, #ff0080, #ff0080);
}

.card-front__tp--ski {
  background: linear-gradient( to bottom, #00a0ee, #00a0ee);
}

.card-front__tp--beach {
  background: linear-gradient( to bottom, #e16c55, #e16c55);
}

.card-front__tp--camping {
  background: linear-gradient( to bottom, #00d283 , #00d283 );
}

.card-front__tp--jahidcse1 {
  background: linear-gradient( to bottom, #757505, #757505);
}

.card-front__tp--jahidcse2 {
  background: linear-gradient( to bottom, #ff0000, #f00 );
}

.card-front__tp--jahidcse3 {
  background: linear-gradient( to bottom, #5C07FF, #5C07FF);
}

.card-front__tp--jahidcse4 {
  background: linear-gradient( to bottom, #590559, #590559);
}

.card-front__tp--jahidcse5 {
  background: linear-gradient( to bottom, #a21004, #a21004);
}
.card-front__tp--jahidcse6 {
  background: linear-gradient( to bottom, #000000, #000000);
}
.card-front__tp--jahidcse7 {
  background: linear-gradient( to bottom, #1D6D8C, #1D6D8C);
}
.card-front__tp--jahidcse8 {
  background: -webkit-linear-gradient(120deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
}
.card-front__tp--jahidcse9 {
  background: linear-gradient( to bottom, #25a800, #1500a8);
}
.card-front__tp--jahidcse10 {
  background: -webkit-linear-gradient(160deg, hsla(92, 85%, 68%, 1) 0%, hsla(338, 98%, 49%, 1) 100%);
}
.card-front__tp--jahidcse11 {
  background: -webkit-linear-gradient(160deg, hsla(179, 83%, 64%, 1) 0%, hsla(338, 75%, 64%, 1) 50%, hsla(14, 92%, 86%, 1) 100%);
}
.card-front__tp--jahidcse12 {
  background: -webkit-linear-gradient(120deg, hsla(189, 92%, 69%, 1) 0%, hsla(335, 89%, 66%, 1) 50%, hsla(240, 63%, 57%, 1) 100%);
}
.card-front__tp--jahidcse13 {
  background: -webkit-linear-gradient(120deg, hsla(55, 90%, 67%, 1) 0%, hsla(173, 87%, 59%, 1) 50%, hsla(327, 89%, 71%, 1) 100%);
}
.card-front__tp--jahidcse14 {
  background: -webkit-linear-gradient(140deg, rgba(252,49,96,1) 0%, rgba(12,223,63,1) 42%, rgba(81,67,255,1) 100%);
}
.card-front__tp--jahidcse15 {
  background: -webkit-linear-gradient(120deg, rgba(254,241,12,1) 0%, rgba(223,12,110,1) 45%, rgba(67,123,255,1) 100%);
}
/* Front card's bottom section */
.card-front__bt {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Styling for the back side of the flip card */

.card-back {
  background-color: #fafbfa;
  transform: rotateY(180deg);
}

/* Inside page */

.inside-page {
  background-color: #fafbfa;
  box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0,0,0,0.25);
  height: 100%;
  padding: 1rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  width: 15rem;
  z-index: 1;
}

.inside-page__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center; 
  width: 100%;
}

/* Functionality ====================================*/

/* This is to keep the card centered (within its container) when opened */
.card:hover {
  box-shadow:
  -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.75);
  width: 30rem;
}

/* When the card is hovered, the flip card container will rotate */
.card:hover .flip-card__container {
  transform: rotateY(-95deg);
}

/* When the card is hovered, the shadow on the inside page will shrink to the left */
.card:hover .inside-page {
  box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0,0,0,0.1);
}

/* Modal */

.modaloverlay {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  z-index: -1;
  display: none;
  pointer-events:none;
}
.modaloverlay:target {
  display: block;
  opacity: 1;
  pointer-events: auto;
  z-index: 99999;
}
.modaloverlay .modal {
  background-color: white;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding: 3em;
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 60em) {
  .modaloverlay .modal {
    height: 95%;
    margin: 1% auto;
    max-width: 1780px;
    max-height: 850px;
    width: 100%;
  }
}
.modaloverlay .modal > iframe, .modaloverlay .modal > div {
  border: none;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-width: 1780px;
  max-height: 850px;
  margin: auto;
}
.modaloverlay .close {
  background-color: #ff0606;
  color: white;
  font-size: 20px;
  padding: 10px 10px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 0;
  z-index: 1;
}

/* card resize */
.container {
  max-width: 1200px; /* set the maximum width of the container */
  margin: 0 auto; /* center the container horizontally */
}

.row {
  display: flex; /* set the display property of the row to flex */
  flex-wrap: wrap; /* allow the row to wrap its children */
  margin: 0 -10px; /* add negative margin to the row to offset the padding of the columns */
}

.col-1 {
  width: calc(100% / 6); /* set the width of the column to one-sixth of the container's width */
  padding: 0 10px; /* add padding to the column to create some space between the columns */
  text-align: center; /* center the text in the column */
}

body {
  background: linear-gradient(238deg, #fd8800, #fd008f, #9700fd, #003dfd, #05c7e6, #4bd58d);
  background-size: 1200% 1200%;
  -webkit-animation: rainbow 30s ease infinite;
  animation: rainbow 30s ease infinite;
}
@-webkit-keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
@keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

img {
  pointer-events: none;
}
@media print {
  * {
    display: none;
  }
}

